# Node modules
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Build
/build/
/dist/
/out/
/artifacts/

# Environment variables
.env
.env.local

# Expo
.expo/
.expo-shared/

# React Native
*.jks
*.keystore

# macOS
.DS_Store

# Android
android/app/src/main/assets/index.android.bundle
android/app/build/

# iOS
ios/DerivedData/
